/node_modules
/public/hot
/public/storage
/public/fonts/
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/storage/*.key
/storage/framework/cache/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/docs/coverage 
/build/logs/clover.xml
codeclimate.json
/deploy_*
build/
docs/
public/css/
public/js/
public/eggs/
