/node_modules
/public/hot
/public/storage
/public/vendor
/public/fonts
/public/build
/public/sitemap.xml
/storage/*.key
/storage/framework/cache/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env.dev
.env.testing
/docs/coverage
/coverage
/.playwright
/playwright-report
/test-results
/build/logs/clover.xml
codeclimate.json
/deploy_*
/build/
/public/css/
/public/js/
/public/eggs/
/public/*.js
.phpunit.result.cache
/.phpunit.cache
_ide_helper.php
.phpstorm.meta.php
.env
/.php_cs.cache
/storage/api-docs
/database/mariadb
laravel-echo-server.*
!laravel-echo-server.json.example
/public/sw.js.LICENSE.txt
/resources/views/vendor
