/node_modules
/public/hot
/public/storage
/public/fonts/
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/public/sitemap.xml
/storage/*.key
/storage/framework/cache/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env.dev
.env.testing
/docs/coverage
/build/logs/clover.xml
codeclimate.json
/deploy_*
/build/
/public/css/
/public/js/
/public/eggs/
/public/*.js
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
.env
/.php_cs.cache
/storage/api-docs/
/database/mariadb
/public/vendor/livewire
laravel-echo-server.json