includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - public
        - routes
        - tests
    # The level 8 is the highest level
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Static method Illuminate\\Support\\Testing\\Fakes\\EventFake::assertDispatched\(\) invoked with 3 parameters, 1-2 required.#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::twice\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::andReturnSelf\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::andReturns\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::andReturn\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::once\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\ExpectsHigherOrderMessage::never\(\).#'
        - '#Called .* on Laravel collection, but could have been retrieved as a query.#'
    excludePaths:
            - tests/_support/*
            - tests/Feature/EdgeCases*
            - tests/Helpers.php
