
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/dropzone/dist/dropzone";

@import "node_modules/codemirror/lib/codemirror";

@import "node_modules/codemirror/addon/dialog/dialog";

.CodeMirror {
    height: 100% !important;
}

.alert p {
  font-family: "Lucida Console", Monaco, monospace;
  unicode-bidi: embed;
  white-space: pre;
}

#pixels {
  table {
    background: black;
    td {
      width: 20px;
      height: 20px;
      border: 1px solid $text-color;
    }
    .clickable {
      cursor: pointer;
    }
  }
  #colour, .colour-container {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid $text-color;
    outline: none;
    overflow: visible;
  }
  .colour-container {
    background: black;
  }
}

.modal {
  background: radial-gradient(transparent, grey);
}
.show {
  opacity: 1;
}
.modal-dialog {
  margin-top: 13em;
}

.combined-alerts {
  margin-bottom: 22px;

  .alert {
    margin-bottom: 0;
  }

  .alert:nth-child(1) {
    border-bottom: none;
  }

  .alert:nth-child(2) {
    border-top: none;
  }
}
.panel, body {
  background: none;
}
.logo {
  position: absolute;
  z-index: -1;
  opacity: 0.75;
  max-width: 20%;
  left: 10px;
  top: 10px;
}
.searchform {
  display: inline-block;
}
#uploader {
  width: 100%;
}