
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/dropzone/dist/dropzone";

@import "node_modules/codemirror/lib/codemirror";

@import "node_modules/codemirror/addon/dialog/dialog";

.CodeMirror {
    height: 100% !important;
}

.alert p {
  font-family: "Lucida Console", Monaco, monospace;
  unicode-bidi: embed;
  white-space: pre;
}
